<div class="container-fluid">
  <div class="row py-5 mx-auto mt-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="col-10">
      <h2>新規投稿</h2>
      <div class="row d-flex align-items-center justify-content-center">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <%= form_with model: @post, url: posts_path do |f| %>
      <div class="row d-flex align-items-center justify-content-center">
        <p>画像:</p>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <p>地域:</p>
        <%= f.select :area_id, options_from_collection_for_select(Area.all, :id, :area_name), { prompt: "選択してください" } %>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <p>気温:<p>
        <%= f.select :temperature_id, options_from_collection_for_select(Temperature.all, :id, :temperature_name), { prompt: "選択してください" } %>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <p>説明:</p>
        <%= f.text_field :text %>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <%= f.submit '投稿' %>
      </div>
      <% end %>
      <div class="row d-flex align-items-center justify-content-end">
        <%= link_to "BACK", posts_path %>
      </div>
    </div>
  </div>
</div>


  


