<h1>新規投稿</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

  <%= form_with model: @post, url: posts_path do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <h4>地域</h4>
  <%= f.select :area_id, options_from_collection_for_select(Area.all, :id, :area_name), { prompt: "選択してください" } %>

  <h4>気温</h4>
  <%= f.select :temperature_id, options_from_collection_for_select(Temperature.all, :id, :temperature_name), { prompt: "選択してください" } %>
  
  <h4>説明</h4>
  <%= f.text_field :text %>
  
  <%= f.submit '投稿' %>
<% end %>
  

  


