<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">検索結果</h3>
    </div>
  </div>
  <div class="row py-5 mx-auto mt-4 pr-4 shadow-lg w-50 d-flex align-items-center justify-content-start">
    <% @posts.each do |post| %>
      <div class="col-md-4 mt-2">
        <%= link_to image_tag(post.get_image(300,300), class:"w-100"), post_path(post.id) %>
        <%= link_to user_path(post.user.id) do %>
          <div class="row">
            <div class="col-2">
              <%= image_tag post.user.get_profile_image(50,50),class:"w-100", class: "rounded-circle"; %>
            </div>
            <div class="col-8">
              <p class="mt-2"> By <%= post.user.name %> </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <%= paginate @posts %>
    </div>
  </div>
</div>