<div class="container-fluid">
  <div class="row py-5 mx-auto mt-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="col-10">
      <h2>詳細</h2>
      <%= link_to user_path(@post.user.id) do %>
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-2 d-flex justify-content-end px-0">
            <%= image_tag @post.user.get_profile_image(80,80), class: "rounded-circle"; %>
          </div>
          <div class="col-6 mt-4">
            <p>By <%= @post.user.name %></p>
          </div>
        </div>
      <% end %>
      <div class="row d-flex align-items-center justify-content-center">
        <%= image_tag @post.get_image(400, 400) %>
      </div>
      <div class="row d-flex align-items-center justify-content-end">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post.id), class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-2">
          <p>地域：<%= @post.area_name %></p>
        </div>
        <div class="col-2">
          <p>気温：<%= @post.temperature_name %></p>
        </div>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <p>説明：<%= @post.text %></p>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      
      <div class="row d-flex align-items-center justify-content-center">
        <% if @post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorite_path(@post), method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_favorite_path(@post), method: :post do %>
              ♡<%= @post.favorites.count %> いいね
            <% end %>
          </p>
        <% end %>
         <% @favorite_users.each do |user| %>
        <div>
          <%= link_to image_tag(@user.get_profile_image(50,50)), user_path(user.id) %>
        </div>
        <% end %>
      </div>
      
      <div class="row d-flex align-items-center justify-content-start">
        <p>コメント件数：<%= @post.comments.count %></p>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <table class="table table-borderless">
          <tbody>
            <% @post.comments.each do |comments| %>
              <tr>
              <td><%= image_tag comments.user.get_profile_image(50,50) %></td>
              <td><%= comments.user.name %></td>
              <td><%= comments.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= comments.comment %></td>
            <% if comments.user == current_user %>
              <td><%= link_to "削除", post_comment_path(comments.post, comments), method: :delete, class: "btn btn-danger" %></td>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="row d-flex align-items-center justify-content-center">
        <%= form_with model: [@post, @comment] do |f| %>
          <%= f.text_area :comment, placeholder: "コメントをここに" %>
          <p><%= f.submit "送信" %></p>
        <% end %>
      </div>
      <div class="row d-flex align-items-center justify-content-end">
        <%= link_to "BACK", posts_path %>
      </div>
    </div>
  </div>
</div>

