管理者トップ
<p>
<%= link_to "ユーザー管理", admin_users_path %>
</p>
<p>
<%= link_to "投稿管理", admin_posts_path %>
</p>
<p>
<%= link_to "コメント管理", admin_comments_path %>
</p>
<p>
<%= link_to "地域", admin_areas_path %>
</p>
<p>
<%= link_to "気温", admin_temperatures_path %>
</p>