<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1 class="d-flex justify-content-center mt-4">管理ページ</h1>
    </div>
  </div>
  <div class="row py-5 mx-auto mt-4 pr-4 shadow-lg w-50 d-flex align-items-center justify-content-center">
    <div class="btn-wrapper col-md-4 mx-2">
      <div class="row">
        <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "ユーザー管理", admin_users_path, class: 'text-dark' %>
        </li>
      </div>
      <div class="row">
        <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "投稿管理", admin_posts_path, class: 'text-dark' %>
        </li>
      </div>
      <div class="row">
        <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "コメント管理", admin_comments_path, class: 'text-dark' %>
        </li>
      </div>
      <div class="row">
        <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "地域", admin_areas_path, class: 'text-dark' %>
        </li>
      </div>
      <div class="row">
        <li class="btn btn-outline-warning btn-sm btn-block mb-3 sign_in">
          <%= link_to "気温", admin_temperatures_path, class: 'text-dark' %>
        </li>
      </div>
    </div>
  </div>
</div>


