<div class="container-fluid pb-5">
  <div class="row mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">投稿一覧</h3>
    </div>
  </div>
  <div class="row align-content-center d-flex justify-content-center">
    <div class="col-12 col-md-6 shadow-lg p-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10 d-flex justify-content-end px-0">
          <table class="table table-hover table-inverse">
            <thead>
              <tr>
                <th>投稿画像</th>
                <th>ユーザーネーム</th>
                <th>投稿文</th>
                <th>最終更新日時</th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= link_to image_tag(post.get_image(100, 100)), edit_admin_post_path(post.id) %></td>
                  <td><%= post.user.name %></td>
                  <td><%= post.text %></td>
                  <td><%= post.updated_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d %H:%M:%S') %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-end">
        <%= link_to admin_path do %>
          <i class="fa-regular fa-circle-left fa-2x"></i>
        <% end %>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-center mt-5">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
  