<div class="container-fluid">
  <div class="row mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">カテゴリー（地域）編集</h3>
    </div>
  </div>
  <div class="row align-content-center d-flex justify-content-center">
    <div class="col-12 col-md-6 shadow-lg">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="align-content-center col-12 d-flex justify-content-center mt-4">
          <% if @area.errors.any? %>
            <%= @area.errors.count %>件のエラーが発生しました
            <ul>
              <% @area.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_with model: @area, url: admin_area_path do |f| %>
          <div class="col-12 mt-4 d-flex justify-content-start">
            <h4 class="mt-3">地域名</h4>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= f.text_field :area_name %>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-center">
            <%= f.submit '更新', class: "btn btn-info" %>
          </div>
        <% end %>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-end my-5">
        <%= link_to admin_areas_path do %>
          <i class="fa-regular fa-circle-left fa-2x"></i>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



