<div class="container-fluid">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">カテゴリー（地域）編集</h3>
    </div>
  </div>
  <div class="row py-5 mx-auto mt-4 pr-4 shadow-lg w-50 d-flex align-items-center justify-content-center ">
    <div class="row d-flex align-items-center justify-content-center">
      <%= form_with model: @area, url: admin_area_path do |f| %>
        <h4>地域名</h4>
        <% if @area.errors.any? %>
          <%= @area.errors.count %>件のエラーが発生しました
          <ul>
            <% @area.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <%= f.text_field :area_name %>
        <%= f.submit '更新', class: "btn btn-info" %>
      <% end %>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-end">
      <%= link_to "BACK", admin_areas_path %>
    </div>
  </div>
</div>
      


