<h1>カテゴリー（地域）一覧</h1>
<% if @area.errors.any? %>
  <%= @area.errors.count %>件のエラーが発生しました
  <ul>
    <% @area.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: Area.new, url: admin_areas_path do |f| %>
<h4>地域名登録</h4>
  <%= f.text_field :area_name %>
  
  <%= f.submit '登録' %>
  
<% end %>

<% @areas.each do |area| %>
  <p>地域名</p>
  <%= area.area_name %>
  <%= link_to "編集", edit_admin_area_path(area.id) %>
  <%= link_to "削除", admin_area_path(area.id), method: :delete %>
<% end %>
  