<div class="container-fluid">
  <div class="row mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">カテゴリー（気温）一覧</h3>
      <%= form_with model: Temperature.new, url: admin_temperatures_path do |f| %>
        <h5 class="mt-4">気温名登録</h5>
        <%= f.text_field :temperature_name %>
        <%= f.submit '登録', class: "btn btn-info" %>
      <% end %>
      <% if @temperature.errors.any? %>
        <%= @temperature.errors.count %>件のエラーが発生しました
        <ul>
          <% @temperature.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row align-content-center d-flex justify-content-center mt-3">
    <div class="col-12 col-md-6 shadow-lg p-5">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-5 d-flex justify-content-end px-0">
          <table class="table table-hover table-inverse">
            <tbody>
              <% @temperatures.each do |temperature| %>
                <tr>
                  <td>気温名</td>
                  <td><%= temperature.temperature_name %></td>
                  <td><%= link_to "編集", edit_admin_temperature_path(temperature.id), class: "btn btn-primary" %></td>
                  <td><%= link_to "削除", admin_temperature_path(temperature.id), method: :delete, class: "btn btn-danger" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-end mt-5">
        <%= link_to admin_path do %>
          <i class="fa-regular fa-circle-left fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
