<div class="container-fluid">
  <div class="row mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">ユーザー編集</h3>
    </div>
  </div>
  <div class="row align-content-center d-flex justify-content-center">
    <div class="col-12 col-md-6 shadow-lg">
      <div class="row d-flex align-items-center justify-content-center">
        <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
          <div class="col-12 mt-4 d-flex justify-content-start">
            <h4 class="mt-3">ユーザーネーム</h4>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= f.text_field :name %>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-start">
            <h4 class="mt-3">プロフィール画像</h4>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= image_tag @user.get_profile_image(100, 100) %>
          </div>
          <div class="col-12 d-flex justify-content-center ">
            <%= f.file_field :profile_image, accept: "image/*" %>
          </div>
          
          <div class="col-12 mt-4 d-flex justify-content-start">
            <h4 class="mt-3">登録状態</h4>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= f.select :is_active, options_for_select([["有効",true], ["無効", false]], @user.is_active) %>
          </div>
          
          <div class="col-12 mt-4 d-flex justify-content-center">
            <%= f.submit "更新", class: "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-end my-5">
        <%= link_to admin_users_path do %>
          <i class="fa-regular fa-circle-left fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>