<h1>ユーザー一覧</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.id, admin_edit_user_path(user.id) %> - <%= user.name %> - <%= user.email %> - <%= user.is_active %> - <%= user.created_at %>
    </li>
  <% end %>
</ul>