<div class="container-fluid">
  <div class="row mb-3">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h3 class="mt-4">ユーザー編集</h3>
    </div>
  </div>
  <div class="row align-content-center d-flex justify-content-center">
    <div class="col-12 col-md-6 shadow-lg">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="align-content-center col-12 d-flex justify-content-center mt-4">
          <% if @user.errors.any? %>
            <%= @user.errors.count %>件のエラーが発生しました
            <ul>
              <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <%= form_with model: @user, id:"form_post" do |f| %>
          <div class="col-12 mt-4 d-flex justify-content-center">
            <h4 class="mt-3">ユーザーネーム</h4>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <%= f.text_field :name, id:"inputName" %>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-center">
            <h4 class="mt-3">プロフィール画像</h4>
          </div>
           <div class="col-12 mt-4 d-flex justify-content-center">
              <%= image_tag @user.get_profile_image(150,150) %>
            </div>
          <div class="col-12 d-flex justify-content-center mt-3">
            <%= f.file_field :profile_image, accept: "image/*", onchange: 'selectFile()' %>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <div class="w-50 ">
              <div id="previews"></div>
            </div>
          </div>
          <div class="col-12 mt-4 d-flex justify-content-center">
            <%= f.submit "変更", class: "btn btn-info mr-4" %>
            <%= link_to "退会", users_check_path, class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
      <div class="col-12 d-flex align-items-center justify-content-end my-5">
        <%= link_to user_path(current_user.id) do %>
          <i class="fa-regular fa-circle-left fa-2x"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>