<!DOCTYPE html>
<html>
  <head>
    <title>Nanikiru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <p>
          <%= link_to "ナニキル？って", about_path %>
        </p>
        <p>
          <%= link_to "Myページ", user_path(current_user.id) %>
        </p>
        <p>
          <%= link_to "ALL", posts_path %>
        </p>
        <p>
          <%#= link_to "検索", _path %>
        </p>
        <p>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </p>
      <% else %>
        <p>
          <%= link_to "ナニキルって？", about_path %>
        </p>
        <p>
          <%=link_to "新規登録",  new_user_registration_path %>
        </p>
        <p>
          <%=link_to "ログイン",  new_user_session_path %>
        </p>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
